<footer style="width: 100%; height: 128px;" class="d-flex justify-center mud-theme-dark">
	<div class="align-center flex-grow-0 my-auto">
		<MudStack Spacing="2">
			<MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
				<MudStack>
					<MudText Typo="Typo.body2">7600 Mako Dr</MudText>
					<MudText Typo="Typo.body2">Hudson Fl, 34667</MudText>
				</MudStack>
				<MudStack>
					<MudText>
						Phone:
						<MudLink Color="Color.Primary" Underline="Underline.Hover" Href="tel:727-278-0986">+1 (727) 278-0986</MudLink>
					</MudText>
					<MudText>
						Email:
						<MudLink Color="Color.Secondary" Underline="Underline.Hover" Href="mailto:contact@conoverhomeinspections.com">contact@conoverhomeinspections.com</MudLink>
					</MudText>
				</MudStack>
			</MudStack>
			<MudText Align="Align.Center" Color="Color.Tertiary" Typo="Typo.caption">&#169; 2020 Conover Home Inspections</MudText>
		</MudStack>
	</div>
</footer>

@code {
}