<footer style="width: 100%; min-height: 100px; height: 128px;" class="d-flex justify-center">
	<div class="align-center flex-grow-0 my-auto">
		<MudText Align="Align.Center" Color="Color.Tertiary" Typo="Typo.caption">&#169; 2020 Conover Home Inspections</MudText>
	</div>
</footer>

@code {
}