@using ConoverHomeInspections.Client.Components
@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode="true" Theme="@_theme" />

<MudLayout>
	<NavMenu />
	<div style="min-height: 90vh;" class="d-flex flex-grow-1">
		<MudContainer MaxWidth="MaxWidth.Large" Class="mud-theme-dark mud-border-primary border-x px-6">
			@Body
		</MudContainer>
	</div>
	<Footer />
</MudLayout>

@code {
	private MudTheme _theme = new MudTheme();
}