@rendermode InteractiveAuto
@page "/Policy"
<HeadContent>
	<PageTitle>Policy | Conover Home Inspections</PageTitle>
	<meta name="description" content="Read the privacy policy of Conover Home Inspections to understand how we handle your personal information and data security.">
    <meta name="keywords" content="home inspections policy, privacy policy, Conover Inspections, data security, information handling">
</HeadContent>
<MainHeader Title="Policy" />
<MainSection>
	<MudContainer MaxWidth="MaxWidth.Medium">
	@foreach (var setting in _settings)
	{
		<div class="mud-container">
			<MudText Typo="Typo.h6" Align="Align.Center">@setting?.For</MudText>
			<MudText Align="Align.Center">@setting?.Value</MudText>
		</div>
	}
	</MudContainer>
</MainSection>

@code {
}