@rendermode InteractiveAuto
@page "/Policy"
<PageTitle>Policy - Conover Home Inspections</PageTitle>
<MainHeader Title="Policy" />
<MainSection>
	@foreach (var setting in _settings)
	{
		<div class="mud-container">
			<MudText Typo="Typo.h6" Align="Align.Center">@setting?.For</MudText>
			<MudText Align="Align.Center">@setting?.Value</MudText>
		</div>
	}
</MainSection>

@code {
}