<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/2f194834-c337-4bd2-94b5-1c2e0bff99b2/resourcegroups/conover-home-inspections-rg/providers/Microsoft.Web/sites/ConoverHomeInspections</ResourceId>
    <ResourceGroup>conover-home-inspections-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://conoverhomeinspections.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>147e28a1-59da-4591-a175-c52c26b0e51a</ProjectGuid>
    <PublishUrl>https://conoverhomeinspections.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ConoverHomeInspections</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>